*.o
*.pkl
*.py
Python/snapshots_nofb/*
code/
logs/
old_model/
output_eff0.5/
output_eff1/
mcmc_halomodel 
output_eff1e4/
input_batch/
Idl
python
output
run
awk
Samples
run
Python/*
Python/snapshots_nofb/*.pkl
Python/*/*
Python/*/*/*
